*{
  margin:0;
  padding:0;
}

.titulo {
    font-family: "Red Hat Mono", monospace;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    letter-spacing: 0.1rem;
    text-align: center;
    text-transform:uppercase;
    margin-top: 40px;
}

.contenedor-zapatillas{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    place-items: center;
    padding-left: 100px;
    padding-right: 100px;
    grid-gap: 2px;
    margin-bottom: 60px;

}

  @media (min-width: 640px) { /* sm */
    .contenedor-zapatillas {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  @media (min-width: 768px) { /* md */
    .contenedor-zapatillas {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  
  @media (min-width: 1024px) { /* lg */
    .contenedor-zapatillas {
      grid-template-columns: repeat(4, 1fr);
      align-items: center;
      justify-content: center;
      grid-gap: 2px;
    }
  }